<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> <%= @user.name %> posted a question!!!!</h1>
<p>
  The question is [  <%= @qn %> ]
  <br>
</p>
<p>
  click here to see the responses:- <%= @url %>.
</p>
<p>Have a great day!</p>
</body>
</html>