<% content_for :page_title,  "Users page!!" %>
<% if notice %>
  <p id="notice">
    <% notice %>
  </p>
  <% end %>

  <div class="section">
    <div class="container">

    <% @users.each do |user| %>
      <div class="card">
        <div class="media">
          <div class="media-content">
            <p class="title is-5  ">
              <%= link_to user.name , user %>
            </p>
          </div>
          <div class="level-right">
            <% if admin? %>
          <p class="level-item">
            <%= link_to 'Edit', edit_user_path(user), class:"button" %>
          </p>
          <p class="level-item">
            <%= link_to 'Delete User', user, method: :delete, data: { confirm: 'The user related posts will also gets deleted, Are you sure?' }, class:"button is-danger" %>
            <% end %>
          </div>
          <hr />
        </div>
      </div>
    <% end %>
    </div>
  </div>
