<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section class="content">
      <div><%= link_to "Back", @user, class: "button is-link is-outlined" %></div>
    </section>
  </aside>
  <div class="span8">
    <span><b><%= @title %></b></span>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>

