<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= answer.answer %>
        </p>
      </div>
    </div>
    <% if admin? || session[:user_id] == answer.user_id %>
    <div class="level-right">
    <p class="level-item">
    <%= link_to 'Edit', edit_question_answer_path(answer.question,answer), class: "button" %>
    </p>
    <p class="level-item">
    <%= link_to 'Delete', [answer.question, answer],
                method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    </p>
    </div>
    <% end %>
  </article>

</div>