<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= answer.answer %>
        </p>
      </div>
    </div>
    <%= link_to 'Delete', [answer.question, answer],
                method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' }  if session[:user_id] == answer.user_id%>
  </article>

</div>