<% content_for :page_title,  "Edit your Answer for question asked" %>
<div class="section">
<%= simple_form_for [@question, @answer] do |f| %>
    <div class="field">
<div class="control">
<%= f.input :answer, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <%= f.button :submit, class: "button is-primary" %>
<% end %>
</div>